# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.env
*.env.*

# Virtual environment
venv/
.env/

# Logs
*.log
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data / Models
*.pt
*.bin
*.safetensors
/models/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Others
*.swp
*.swo
